<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <th:block th:replace="general.html :: head"/>
</head>

<body>
<div class="container">
    <div th:insert="general.html :: header" class="header"></div>

    <span style="overflow-wrap: anywhere;" th:text="${payload}"></span>

    <th:block th:replace="general.html :: scripts"/>
</div>
</body>
</html>