on:
  pull_request: {}
  push:
    branches:
    - main
    - master
    paths:
    - .github/workflows/semgrep.yml
  schedule:
  # random HH:MM to avoid a load spike on GitHub Actions at 00:00
  - cron: 0 1 * * *
name: Semgrep
jobs:
  buildGradleLockFile: 
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Dependency Tree
        run: gradle dependencies --write-locks
      - name: Upload Dependency Tree Artifact     
        uses: actions/upload-artifact@v3
        with:
          name: gradlelockfile
          path: gradle.lockfile

  semgrep:
    needs: buildGradleLockFile
    name: Scan
    runs-on: ubuntu-20.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SEMGREP_REPO_NAME: 'from-github/javaspringvulny'
      SEMGREP_REPO_URL: 'https://github.com/r2c-CSE/javaspringvulny'
    container:
      image: returntocorp/semgrep
    steps:
      - uses: actions/checkout@v3
      - name: Download artifact from previous job
        uses: actions/download-artifact@v3
        with:
          name: gradlelockfile
      - run: semgrep ci
